<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-1"> 
    </div> 
    <div class="col-md-10">  
      <%= simple_form_for @user, defaults: { input_html: { class: 'form-control' } } do |f| %>

        <div class="panel panel-default">
          <div class="panel-heading">Log-In Information</div>
          <div class="panel-body">
            <div class="row">
              <div class="field col-md-6">
                <%= f.input :email %>
              </div>
            </div>
      <!--       <div class="row">
              <div class="field col-md-6">
                <%= f.label :password, class: "required" %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div class="field col-md-6">
                <%= f.label :password_confirmation, class: "required" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>
            </div> -->
          </div>
        </div>
        <br/>
        <div class="clearfix"></div>

        <div class="panel panel-default">
          <div class="panel-heading">Personal Information</div> 
          <div class="panel-body">
            <div class="row">
              <div class="field col-md-4">
                <%= f.input :first_name %>
              </div>

              <div class="field col-md-4">
                <%= f.input :middle_name %>
              </div>

              <div class="field col-md-4">
                <%= f.input :last_name %>
              </div>
            </div>
            <div class="row">
              <div class="field col-md-4">
                <%= f.input :gender, collection: SugarBites::Application::GENDER, prompt: "Select your gender", class: "form-control" %>
              </div>

              <div class="field col-md-4">
                <%= f.input :birth_date, as: :date, start_year: Date.today.year - 90, html5: true %>
              </div>
            </div>  
          </div>

          <div class="panel panel-default" style="margin: 20px;">
            <div class="panel-heading">
              Contact Information 
              <button class="btn btn-default pull-right" id="add_contact_info" type="button">Add</button>
            </div> 
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Contact Number</th>
                  <th>Type</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              <% @user.user_contacts.each_with_index do |contact, index| %>
                <%= f.simple_fields_for :user_contacts, contact do |contact_form| %>
                  <tr>
                    <td class="hide"><%= contact_form.input :id %></td>
                    <td><%= index+1 %></td>
                    <td><%= contact_form.input :type_of_contact %></td>
                    <td><%= contact_form.input :contact_info %></td>
                  </tr>
                <% end %>
              <% end %>

              </tbody>     
            </table>
          </div>

        </div>
        <div class="actions">
          <%= f.submit "Save" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-1"> 
    </div> 
  </div>
</div>
